@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap');
*
{
  padding: 0%;
  margin: 0%; 
  font-family: 'Pragati Narrow', sans-serif;
}
body
{
    background: #353535;
}
.container
{
    width: 100vh;
    height: 100vw;
    transform-origin: top left;
    transform: rotate(-90deg) translate(-100vh);
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background: #333;
}
.wrapper
{
    display: flex;
    width: 200vw;
    transform-origin: top left;
    transform: rotate(90deg) translateY(-100vh);
}
.slide
{
    height: 100vh;
    width: 100vw;
    position: relative;
}
.slide:nth-child(1)
{
    background: #333;
}
.slide:nth-child(2)
{
    background: rgb(143, 143, 143);
}
.layer
{
    height: 100vh;
    width: 100vw;
    color: rgb(90, 90, 90);
    font-size: 15rem;
    background-size: cover;
    background-position: bottom;
    text-align: center;
    padding-top: 14%;
}
#span
{
    font-weight: bold;
    color: #EEEEEE;
    font-size: 400px;
    font-family: sans-serif;
    letter-spacing: 4px;
    position: absolute;
    left: 25vw;
}
::-webkit-scrollbar
{
    display: none;
}